
{% include "header.html" %}
  <section class="slider">
    <div class="slider_container">
      <h1 class="slider_heading1">Hide&Seek</h1>
      <h2 class="slider_heading2">Dubai Expat Group</h2>
      <button class="becomeamember slider_btn">Be a Member</button>
    </div>
  </section>
  <section class="section section1">
    <div class="image_box_sec image_box_sec1">
      <img src="/static/images/b1 box1.png" alt="">
    </div>
    <div class="content_box_sec content_box_sec1">
      <h2>Receive Exclusive
        Invites</h2>
      <ul>
        <li>
          Private Villa Parties
        </li>
        <li>Private Pool Parties</li>
        <li>
          Private Yacht Parties
        </li>
        <li>
          Beach Club Days
        </li>
        <li>Pub Crawls</li>
      </ul>
      <button class="bemember_btn">Be a Member</button>
    </div>
  </section>
  <section class="section2">
    <h2>Become A Preferred Member</h2>
    <h3>Preferred members get free invites to parties</h3>
    <p>Refer your friends</p>
    <button class="becomeamember section2_btn">Be a Member</button>
  </section>
  <section class="section section3">
    <div class="image_box_sec image_box_sec1 mobile_on">
      <img src="/static/images/bg2 box1.jpg" alt="">
    </div>
    <div class="content_box_sec content_box_sec1">
      <h2>Event Hosts</h2>
      <ul class="internel_list">
        <li>
          Get paid as an event host for private parties
        </li>
        <li>Event hosts both host, organise and socialise for parties</li>
        
      </ul>
      <button class="bemember_btn">Be a Member</button>
    </div>
    <div class="image_box_sec image_box_sec1 desktop_off">
      <img src="/static/images/bg2 box1.jpg" alt="">
    </div>
  </section>
  <section class="section section4">
    <div class="image_box_sec image_box_sec1">
      <img src="/static/images/bg2 box2.jpg" alt="">
    </div>
    <div class="content_box_sec content_box_sec1">
      <h2>Hide&Seek 
        Party Diversity</h2>
      <ul class="internel_list">
        <li>We ensure a good diversity of genders and nationalities at our parties</li>
        <li>You will be invited to different events to ensure parties are well diversified</li>
        <li>View the admitted RSVP list for each party</li>
        <li>Become an active member to get more invites to parties</li>
      </ul>
    </div>
    
  </section>
  <section class="section section5">
    <div class="image_box_sec image_box_sec1 mobile_on">
      <img src="/static/images/bg2 box1.jpg" alt="">
    </div>
    <div class="content_box_sec content_box_sec1">
      <h2>Hide&Seek | App, 
        Going Digital</h2>
      <h3>Connect with new People at parties</h2>
      <p>Send & Receive Free Drink Offer View Profile of Everyone At The Party</p>
      <p>Scan QR Codes to Connect With people Send Messages on the App</p>
      <p>Send Invites To Connections For Event</p>
      <button class="bemember_btn">click</button>
    </div>
    <div class="image_box_sec image_box_sec1 desktop_off" >
      <img src="/static/images/bg2 box1.jpg" alt="">
    </div>
  </section>
  <section class="section section6">
    
    <div class="image_box_sec image_box_sec1">
      <img src="/static/images/bg2 box1.jpg" alt="">
    </div>
    <div class="content_box_sec content_box_sec1">
      <h2>Hide&Seek | How We 
        Group You At Parties</h2>
      <h3>Receive Invites to Parties Based On Shared 
        Connections</h2>
      <p>Create & confirm connections using the QR code scan functionality on the 
        Hide&Seek app </p>
      <p>We get to Know Who you like by seeing Which connections you confirmed 
        at previous events</p>
      <button class="bemember_btn">click here</button>
    </div>
  </section>
  <section class="section7">
    
    <div class="image_box_sec7 mobile_on">
      <img src="/static/images/sec7image.png" alt="">
    </div>
    <div class="content_box_sec7">
      <h2>Socializing At Parties 
        If You Don’t Know 
        Anyone</h2>
        <table>
          <tbody>
            <tr>
              <td><div class="step"><span>1 </span></div></td>
              <td><div class="step">Come To Hide&Seek Parties even if you dont know anyone</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>2 </span></div></td>
              <td><div class="step">We use the Hide&Seek app to let you send drink offers & photo 
                requests to other peopleat the event</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>3 </span></div></td>
              <td><div class="step">Meet and interact with everyone that wants to connect with you</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>4 </span></div></td>
              <td><div class="step">Create new connections with a simple QR code scan on the app</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>5 </span></div></td>
              <td><div class="step">Send & Receive Invites To Your New Connections 
                To Upcoming Events</div></td>

            </tr>
          </tbody>
        </table>
        
    </div>
    <div class="image_box_sec7 desktop_off">
      <img src="/static/images/sec7image.png" alt="">
    </div>
  </section>
  <section class="section8">
    <div class="galleryrow_sec8">
      <img src="/static/images/sec8_1.jpg" alt="">
      <img src="/static/images/sec8_2.jpg" alt="">
      <img src="/static/images/sec8_3.png" alt="">
    </div>
    <div class="galleryrow_sec8">
      <img src="/static/images/sec8_4.png" alt="">
      <img src="/static/images/sec8_5.png" alt="">
      <img src="/static/images/sec8_6.png" alt="">
    </div>
  </section>
  <section class="section9">
    <div class="image_box_sec9">
      <img src="/static/images/sec9.png" alt="">
    </div>
    <div class="content_box_sec9">
      <h2>Membership Fee</h2>
        <table style="margin-bottom: 0.5em;">
          <tbody>
            <tr>
              <td><div class="step"><span>1 </span></div></td>
              <td><div class="step">To help pay for parties and advertising, we must charge a small 
                monthly membership fee</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>2 </span></div></td>
              <td><div class="step">Monthly membership as low as 10 USD / month</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>3 </span></div></td>
              <td><div class="step">Gain access to the whatsapp group where you will receive all our 
                event invites</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>4 </span></div></td>
              <td><div class="step">RSVP to our events you have been selected to attend</div></td>
            </tr>
            <tr>
              <td><div class="step"><span>5 </span></div></td>
              <td><div class="step">Everyone member will receive a mix of different event invites each 
                month</div></td>
            </tr>
          </tbody>
        </table>
        <button class="paypal_btn"><img src="images/paypal.png" alt=""></button>

        <button class="bemember_btn">subscribe now</button>

    </div>
    
  </section>

  <section class="section10">
    <h2>upcoming events</h2>
    <div class="box-container">
      <div class="service_box service_box1">
        <img src="/static/images/bg2 box1.jpg" alt="">
        <h2>Night Out Parties</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium lautium, totam rem aperiam, eaque ipsa quae 
          et quas</p>
        <h3>Learn More</h3>
      </div>
      <div class="service_box service_box2">
        <img src="/static/images/bg2 box1.jpg" alt="">
        <h2>Night Out Spots In Dubai</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium lautium, totam rem aperiam, eaque ipsa quae 
          et quas</p>
        <h3>Learn More</h3>
      </div>
      <div class="service_box service_box3">
        <img src="/static/images/bg2 box1.jpg" alt="">
        <h2>Latest events Dubai</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium lautium, totam rem aperiam, eaque ipsa quae 
          et quas</p>
        <h3>Learn More</h3>
      </div>
    </div>
  </section>
  <section class="section11">
    <img src="/static/images/sec11.png" alt="no vedio image">
  </section>
  <section class="section12">
    <h2>Join Our Exclusive Group Now, 
      To Party & Make New Connections 
      In Dubai</h2>
      <div class="sub_section">
        
        <div class="image_box_sec12 mobile_on">
          <img src="/static/images/sec12.jpg" alt="">
        </div>
        <div class="contactus">
          <h2>Please write us!</h2>
          <form action="">
            <div>
              <label for="">Name</label>  
            </div>
            <input type="text" name="" id="name" placeholder="Name">
            <div>
              <label for="">Email</label>
 
            </div>
            <input type="email" name="" id="email" placeholder="Email"> 
            <div>
              <label for="">Message</label>
            </div>
            <textarea name="" id="message" cols="30" rows="5"></textarea>  
            <div>
              <input type="submit" value="Send Now" name="" id="submit_btn">

            </div>
          </form>
        </div>
        <div class="image_box_sec12 desktop_off">
          <img src="/static/images/sec12.jpg" alt="">
        </div>
      </div>
  </section>
{% include "footer.html" %}